sdo/runtime/core/test/48601.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="product">
  <xs:sequence>
    <xs:element name="brand" type="xs:string"/>
    <xs:element name="size" type="available_sizes"/>
  </xs:sequence>
</xs:complexType>

<xs:simpleType name='available_sizes'>
  <xs:union>
    <xs:simpleType>
       <xs:restriction base='nonNegativeInteger'/>
    </xs:simpleType>
    <xs:simpleType>
      <xs:restriction base='string'>
        <xs:enumeration value='large'/>
        <xs:enumeration value='small'/>
      </xs:restriction>
    </xs:simpleType>
  </xs:union>
</xs:simpleType>

</xs:schema>

