sdo/runtime/core/test/b46617.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdo="commonj.sdo" xmlns:sdoxml="commonj.sdo/xml" xmlns:tns="companyNS" targetNamespace="companyNS"><xsd:element name="companyType" type="CompanyType"/><xsd:complexType name="CompanyType"><xsd:sequence><xsd:element name="departments" type="tns:DepartmentType" minOccurs="0" maxOccurs="unbounded"/><xsd:element name="CEO" type="tns:EmployeeType" minOccurs="0"/></xsd:sequence><xsd:attribute name="name" type="xsd:String"/><xsd:attribute name="employeeOfTheMonth" sdoxml:propertyType="tns:EmployeeType" type="xsd:IDREF"/></xsd:complexType><xsd:element name="departmentType" type="DepartmentType"/><xsd:complexType name="DepartmentType"><xsd:sequence><xsd:element name="employees" type="tns:EmployeeType" minOccurs="0" maxOccurs="unbounded"/><xsd:element name="name" type="xsd:String" minOccurs="0"/><xsd:element name="location" type="xsd:String" minOccurs="0"/><xsd:element name="number" type="xsd:String" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="employeeType" type="EmployeeType"/><xsd:complexType name="EmployeeType"><xsd:sequence><xsd:element name="name" type="xsd:String" minOccurs="0"/><xsd:element name="SN" type="xsd:String" minOccurs="0"/><xsd:element name="manager" type="xsd:boolean" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:schema>