sdo/runtime/core/test/graham1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="quotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="quote"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="quote">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="phrase"/>
        <xs:element ref="author"/>
      </xs:sequence>
      <xs:attribute name="year" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="phrase" type="xs:string"/>
  <xs:element name="author" type="xs:string"/>
</xs:schema>
