sdo/runtime/core/test/groupwrongname.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.wrox.com/name"
xmlns:target="http://www.wrox.com/name" elementFormDefault="qualified">
  <group name="NoNameGroup">
    <sequence>
      <element name="first" type="string"/>
      <element name="middle" type="string"/>
      <element name="last" type="string"/>
    </sequence>
  </group>
  <element name="name">
    <complexType>
      <group ref="NameGroup"/>
      <attribute name="title" type="string"/>
    </complexType>
  </element>

</schema>
