sdo/runtime/core/test/jira705.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://ConvertedStockQuote">
  <xs:element name="getQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ticker1" type="xs:string" nillable="true"/>
        <xs:element name="ticker2" type="xs:string" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> 
