contrib/samples/PythonWeatherForecast/sample.weather/WeatherForecast.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
   Licensed to the Apache Software Foundation (ASF) under one
   or more contributor license agreements.  See the NOTICE file
   distributed with this work for additional information
   regarding copyright ownership.  The ASF licenses this file
   to you under the Apache License, Version 2.0 (the
   "License"); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at
   
     http://www.apache.org/licenses/LICENSE-2.0
     
   Unless required by applicable law or agreed to in writing,
   software distributed under the License is distributed on an
   "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
   KIND, either express or implied.  See the License for the
   specific language governing permissions and limitations
   under the License.
-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.webservicex.net"
                  targetNamespace="http://www.webservicex.net"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <wsdl:types>
      <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.webservicex.net">
         <xsd:element name="GetWeatherByZipCode">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="1" name="ZipCode" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="GetWeatherByZipCodeResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="1" maxOccurs="1" name="GetWeatherByZipCodeResult" type="tns:WeatherForecasts" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:complexType name="WeatherForecasts">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" name="Latitude" type="xsd:float" />
               <xsd:element minOccurs="1" maxOccurs="1" name="Longitude" type="xsd:float" />
               <xsd:element minOccurs="1" maxOccurs="1" name="AllocationFactor" type="xsd:float" />
               <xsd:element minOccurs="0" maxOccurs="1" name="FipsCode" type="xsd:string" />
               <xsd:element minOccurs="0" maxOccurs="1" name="PlaceName" type="xsd:string" />
               <xsd:element minOccurs="0" maxOccurs="1" name="StateCode" type="xsd:string" />
               <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="xsd:string" />
               <xsd:element minOccurs="0" maxOccurs="1" name="Details" type="tns:ArrayOfWeatherData" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ArrayOfWeatherData">
            <xsd:sequence>
               <xsd:element minOccurs="0" maxOccurs="unbounded" name="WeatherData" type="tns:WeatherData" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="WeatherData">
            <xsd:sequence>
               <xsd:element minOccurs="0" maxOccurs="1" name="Day" type="xsd:string" />
               <xsd:element minOccurs="0" maxOccurs="1" name="WeatherImage" type="xsd:string" />
               <xsd:element minOccurs="0" maxOccurs="1" name="MaxTemperatureF" type="xsd:string" />
               <xsd:element minOccurs="0" maxOccurs="1" name="MinTemperatureF" type="xsd:string" />
               <xsd:element minOccurs="0" maxOccurs="1" name="MaxTemperatureC" type="xsd:string" />
               <xsd:element minOccurs="0" maxOccurs="1" name="MinTemperatureC" type="xsd:string" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="GetWeatherByPlaceName">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="1" name="PlaceName" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="GetWeatherByPlaceNameResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="1" maxOccurs="1" name="GetWeatherByPlaceNameResult" type="tns:WeatherForecasts" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="WeatherForecasts" type="tns:WeatherForecasts" />
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="GetWeatherByZipCodeRequest">
      <wsdl:part name="parameters" element="tns:GetWeatherByZipCode" />
   </wsdl:message>
   <wsdl:message name="GetWeatherByZipCodeResponse">
      <wsdl:part name="parameters" element="tns:GetWeatherByZipCodeResponse" />
   </wsdl:message>
   <wsdl:message name="GetWeatherByPlaceNameRequest">
      <wsdl:part name="parameters" element="tns:GetWeatherByPlaceName" />
   </wsdl:message>
   <wsdl:message name="GetWeatherByPlaceNameResponse">
      <wsdl:part name="parameters" element="tns:GetWeatherByPlaceNameResponse" />
   </wsdl:message>
   <wsdl:portType name="WeatherForecastPortType">
      <wsdl:operation name="GetWeatherByZipCode">
         <wsdl:input message="tns:GetWeatherByZipCodeRequest" />
         <wsdl:output message="tns:GetWeatherByZipCodeResponse" />
      </wsdl:operation>
      <wsdl:operation name="GetWeatherByPlaceName">
         <wsdl:input message="tns:GetWeatherByPlaceNameRequest" />
         <wsdl:output message="tns:GetWeatherByPlaceNameResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="WeatherForecastSoapBinding" type="tns:WeatherForecastPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
      <wsdl:operation name="GetWeatherByZipCode">
         <soap:operation soapAction="http://www.webservicex.net/GetWeatherByZipCode" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetWeatherByPlaceName">
         <soap:operation soapAction="http://www.webservicex.net/GetWeatherByPlaceName" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="WeatherForecast">
      <wsdl:port name="WeatherForecastPort" binding="tns:WeatherForecastSoapBinding">
         <soap:address location="http://www.webservicex.net/WeatherForecast.asmx" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>