samples/MyValue/MyValueModule/MyValue/MyValueService.xsd

<xs:schema targetNamespace="http://www.myvalue.org/MyValueService/" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.myvalue.org/MyValueService/"
           elementFormDefault="qualified">

    <xs:element name="getMyValue">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="customerID" type="xs:string" minOccurs="1"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>

    <xs:element name="getMyValueResponse">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="myValue" type="xs:float" minOccurs="1"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
</xs:schema>
