sdo/runtime/core/test/test/includeother1.xsd

    <xsd:schema  
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 	xmlns:sdo="commonj.sdo"
 	xmlns:sdoxml="commonj.sdo/xml"
	xmlns:company="companyNS"
	targetNamespace="companyNS">

      <xsd:element name="company" type="company:CompanyType"/>
      <xsd:complexType name="CompanyType">
      <xsd:sequence>
          <xsd:element name="departments" type="company:DepartmentType" maxOccurs="unbounded"/>
       </xsd:sequence>
       <xsd:attribute name="name" type="xsd:string"/>
       <xsd:attribute name="cs" type="sdo:ChangeSummaryType"/>
       <xsd:attribute name="employeeOfTheMonth" type="xsd:IDREF" sdoxml:propertyType="company:EmployeeType"/>
      </xsd:complexType>
    </xsd:schema>

