test/WSEntryPointTest/WSEntryPointTestModule/WSEntryPointTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.WSEntryPointTest.org/WSEntryPointTest/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSEntryPointTest" targetNamespace="http://www.WSEntryPointTest.org/WSEntryPointTest/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.WSEntryPointTest.org/WSEntryPointTest/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:element name="doDataObject">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="dataObjectData" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
        
		<xsd:element name="doDataObjectResponse">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="someData" type="dataObjectData" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>    
		
		<xsd:complexType name="dataObjectData">
			<xsd:sequence>
				<xsd:element name="someStringData" type="xsd:string" minOccurs="1"/>
				<xsd:element name="someIntData" type="xsd:int" minOccurs="1"/>
				<xsd:element name="someFloatData" type="xsd:float" minOccurs="1"/>
				<xsd:element name="someDateData" type="xsd:date" minOccurs="1"/>
				<xsd:element name="someListData" type="listData" minOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="listData">
			<xsd:sequence>
				<xsd:element name="listItem" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>	
		
		<xsd:element name="doChars">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:string" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="doCharsResponse">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:string" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<xsd:element name="doString">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:string" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
		<xsd:element name="doLong">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:int" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="doLongResponse">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:int" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
		<xsd:element name="doInt">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:int" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="doIntResponse">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:int" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
				
		<xsd:element name="doFloat">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:float" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="doFloatResponse">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:float" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<xsd:element name="doLongDouble">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:double" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="doLongDoubleResponse">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:double" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<xsd:element name="doDouble">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:double" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="doDoubleResponse">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:double" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
			
		<xsd:element name="doBool">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:boolean" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="doBoolResponse">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:boolean" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<xsd:element name="doShort">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:short" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="doShortResponse">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:short" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<xsd:element name="doBytes">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:hexBinary" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="doBytesResponse">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:hexBinary" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
		<xsd:element name="doMixed">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="arg1" type="xsd:string" minOccurs="1"/>
					<xsd:element name="arg2" type="xsd:int" minOccurs="1"/>
    				<xsd:element name="arg3" type="dataObjectData" minOccurs="1"/>
					<xsd:element name="arg4" type="xsd:boolean" minOccurs="1"/>
					<xsd:element name="arg5" type="xsd:float" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
        
		<xsd:element name="doMixedResponse">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="someData" type="dataObjectData" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>   
    	
    	<!-- Can't do wchar - no mapping from XSD type to SDO:Character type 
		
		<xsd:element name="doWChar">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" minOccurs="1">
    					<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="doWChar">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" minOccurs="1">
    					<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		-->
	
		<!-- Int64 not yet supported - see Jira TUSCANY-439 
		<xsd:element name="doInt64">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:long" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="doInt64Response">
			<xsd:complexType>
				<xsd:sequence>
    				<xsd:element name="someData" type="xsd:long" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		-->
	
    	<!-- Can't do doIntArray -->
	</xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="doDataObjectRequestMsg">
    <wsdl:part element="tns:doDataObject" name="doDataObjectRequestPart"/>
  </wsdl:message>
  <wsdl:message name="doDataObjectResponseMsg">
    <wsdl:part element="tns:doDataObjectResponse" name="doDataObjectResponsePart"/>
  </wsdl:message>

  <wsdl:message name="doCharsRequestMsg">
    <wsdl:part element="tns:doChars" name="doCharsRequestPart"/>
  </wsdl:message>
  <wsdl:message name="doCharsResponseMsg">
    <wsdl:part element="tns:doCharsResponse" name="doCharsResponsePart"/>
  </wsdl:message>

  <wsdl:message name="doStringRequestMsg">
    <wsdl:part element="tns:doString" name="doStringRequestPart"/>
  </wsdl:message>
  <wsdl:message name="doStringResponseMsg">
    <wsdl:part element="tns:doCharsResponse" name="doStringResponsePart"/>
  </wsdl:message>

  <wsdl:message name="doLongRequestMsg">
    <wsdl:part element="tns:doLong" name="doLongRequestPart"/>
  </wsdl:message>
  <wsdl:message name="doLongResponseMsg">
    <wsdl:part element="tns:doLongResponse" name="doLongResponsePart"/>
  </wsdl:message>

  <wsdl:message name="doIntRequestMsg">
    <wsdl:part element="tns:doInt" name="doIntRequestPart"/>
  </wsdl:message>
  <wsdl:message name="doIntResponseMsg">
    <wsdl:part element="tns:doIntResponse" name="doIntResponsePart"/>
  </wsdl:message>

  <wsdl:message name="doFloatRequestMsg">
    <wsdl:part element="tns:doFloat" name="doFloatRequestPart"/>
  </wsdl:message>
  <wsdl:message name="doFloatResponseMsg">
    <wsdl:part element="tns:doFloatResponse" name="doFloatResponsePart"/>
  </wsdl:message>

  <wsdl:message name="doLongDoubleRequestMsg">
    <wsdl:part element="tns:doLongDouble" name="doLongDoubleRequestPart"/>
  </wsdl:message>
  <wsdl:message name="doLongDoubleResponseMsg">
    <wsdl:part element="tns:doLongDoubleResponse" name="doLongDoubleResponsePart"/>
  </wsdl:message>

  <wsdl:message name="doDoubleRequestMsg">
    <wsdl:part element="tns:doDouble" name="doDoubleRequestPart"/>
  </wsdl:message>
  <wsdl:message name="doDoubleResponseMsg">
    <wsdl:part element="tns:doDoubleResponse" name="doDoubleResponsePart"/>
  </wsdl:message>

  <wsdl:message name="doBoolRequestMsg">
    <wsdl:part element="tns:doBool" name="doBoolRequestPart"/>
  </wsdl:message>
  <wsdl:message name="doBoolResponseMsg">
    <wsdl:part element="tns:doBoolResponse" name="doBoolResponsePart"/>
  </wsdl:message>

  <wsdl:message name="doShortRequestMsg">
    <wsdl:part element="tns:doShort" name="doShortRequestPart"/>
  </wsdl:message>
  <wsdl:message name="doShortResponseMsg">
    <wsdl:part element="tns:doShortResponse" name="doShortResponsePart"/>
  </wsdl:message>

  <wsdl:message name="doBytesRequestMsg">
    <wsdl:part element="tns:doBytes" name="doBytesRequestPart"/>
  </wsdl:message>
  <wsdl:message name="doBytesResponseMsg">
    <wsdl:part element="tns:doBytesResponse" name="doBytesResponsePart"/>
  </wsdl:message>

  <wsdl:message name="doMixedRequestMsg">
    <wsdl:part element="tns:doMixed" name="doMixedRequestPart"/>
  </wsdl:message>
  <wsdl:message name="doMixedResponseMsg">
    <wsdl:part element="tns:doMixedResponse" name="doMixedResponsePart"/>
  </wsdl:message>


  <wsdl:portType name="WSEntryPointTest">
    <wsdl:operation name="doDataObject">
      <wsdl:input message="tns:doDataObjectRequestMsg"/>
      <wsdl:output message="tns:doDataObjectResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="doChars">
      <wsdl:input message="tns:doCharsRequestMsg"/>
      <wsdl:output message="tns:doCharsResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="doString">
      <wsdl:input message="tns:doStringRequestMsg"/>
      <wsdl:output message="tns:doStringResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="doLong">
      <wsdl:input message="tns:doLongRequestMsg"/>
      <wsdl:output message="tns:doLongResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="doInt">
      <wsdl:input message="tns:doIntRequestMsg"/>
      <wsdl:output message="tns:doIntResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="doFloat">
      <wsdl:input message="tns:doFloatRequestMsg"/>
      <wsdl:output message="tns:doFloatResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="doLongDouble">
      <wsdl:input message="tns:doLongDoubleRequestMsg"/>
      <wsdl:output message="tns:doLongDoubleResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="doDouble">
      <wsdl:input message="tns:doDoubleRequestMsg"/>
      <wsdl:output message="tns:doDoubleResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="doBool">
      <wsdl:input message="tns:doBoolRequestMsg"/>
      <wsdl:output message="tns:doBoolResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="doShort">
      <wsdl:input message="tns:doShortRequestMsg"/>
      <wsdl:output message="tns:doShortResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="doBytes">
      <wsdl:input message="tns:doBytesRequestMsg"/>
      <wsdl:output message="tns:doBytesResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="doMixed">
      <wsdl:input message="tns:doMixedRequestMsg"/>
      <wsdl:output message="tns:doMixedResponseMsg"/>
    </wsdl:operation>
  </wsdl:portType>

  
  <wsdl:binding name="WSEntryPointTestSOAP" type="tns:WSEntryPointTest">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="doDataObject">
      <soap:operation soapAction="WSEntryPointTest/doDataObject"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doChars">
      <soap:operation soapAction="WSEntryPointTest/doChars"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doString">
      <soap:operation soapAction="WSEntryPointTest/doString"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doLong">
      <soap:operation soapAction="WSEntryPointTest/doLong"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doInt">
      <soap:operation soapAction="WSEntryPointTest/doInt"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doFloat">
      <soap:operation soapAction="WSEntryPointTest/doFloat"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doLongDouble">
      <soap:operation soapAction="WSEntryPointTest/doLongDouble"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doDouble">
      <soap:operation soapAction="WSEntryPointTest/doDouble"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doBool">
      <soap:operation soapAction="WSEntryPointTest/doBool"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doShort">
      <soap:operation soapAction="WSEntryPointTest/doShort"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doBytes">
      <soap:operation soapAction="WSEntryPointTest/doBytes"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doMixed">
      <soap:operation soapAction="WSEntryPointTest/doMixed"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEntryPointTest">
    <wsdl:port binding="tns:WSEntryPointTestSOAP" name="WSEntryPointTestSOAP">
      <soap:address location="http://localhost:9090/axis2/services/WSEntryPointTest"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
