sca/projects/tuscany_sca/tuscany_sca_test/testSCASystem/modules/MyValueServiceModule/MyValueService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema" 
             xmlns:tns="http://www.myvalue.org/MyValueService/"
             targetNamespace="http://www.myvalue.org/MyValueService/">
    <types>
		<xs:schema targetNamespace="http://www.myvalue.org/MyValueService/" 
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.myvalue.org/MyValueService/"
                   elementFormDefault="qualified">
        
		<xs:element name="getMyValue">
			<xs:complexType>
				<xs:sequence>
    				<xs:element name="customerID" type="xs:string" minOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
        
		<xs:element name="getMyValueResponse">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="myValue" type="xs:float" minOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
        
        </xs:schema>
   </types>
           
    <message name="getMyValueRequestMsg">
	<part name="body" element="tns:getMyValue"/>
    </message>
	    
    <message name="getMyValueResponseMsg">
	<part name="body" element="tns:getMyValueResponse"/>
    </message>
    
    <portType name="MyValueServicePortType">
	<operation name="getMyValue">
	    <input message="tns:getMyValueRequestMsg"/>
	    <output message="tns:getMyValueResponseMsg"/>
	</operation>
    </portType>
    
    <binding name="MyValueServiceBinding" type="tns:MyValueServicePortType">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="getMyValue">
	    <soap:operation soapAction="MyValueService#getMyValue"/>
	    <input>
		<soap:body use="literal"/>
	    </input>
	    <output>
		<soap:body use="literal"/>
	    </output>
	</operation>
    </binding>
    
    <service name="MyValueService">
	<port name="MyValueServicePort" binding="tns:MyValueServiceBinding">
	    <soap:address location="http://localhost/axis/MyValueService"/>
	</port>
    </service>
</definitions>
