test/ws.service.interop/resources/interop.wsdl

<wsdl:definitions name="interop"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:interop="http://www.apache.org/tuscany/interop" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  
                  targetNamespace="http://www.apache.org/tuscany/interop">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.apache.org/tuscany/interop" 
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                
  	  <xsd:include schemaLocation="interop01.xsd" />
  	  <xsd:include schemaLocation="interop02.xsd" />
  	  <xsd:include schemaLocation="interop03.xsd" />
  	  <xsd:include schemaLocation="interop04.xsd" />
  	  <!--xsd:include schemaLocation="interop05.xsd" /-->
  	  <xsd:include schemaLocation="interop06.xsd" />
  	  <xsd:include schemaLocation="interop07.xsd" />
  	  <xsd:include schemaLocation="interop08.xsd" />
  	  <xsd:include schemaLocation="interop09.xsd" />
  	  <xsd:include schemaLocation="interop10.xsd" />
  	  <xsd:include schemaLocation="interop11.xsd" />
  	  <xsd:include schemaLocation="interop12.xsd" />
  	  <xsd:include schemaLocation="interop14.xsd" />
  	  <xsd:include schemaLocation="interop15.xsd" />
  	  <xsd:include schemaLocation="interop16.xsd" />
  	  <xsd:include schemaLocation="interop17.xsd" />
  	  <xsd:include schemaLocation="interop18.xsd" />
  	  <xsd:include schemaLocation="interop19.xsd" />
  	  <xsd:include schemaLocation="interop20.xsd" />
  	  <xsd:include schemaLocation="interop21.xsd" />
  	  <xsd:include schemaLocation="interop22.xsd" />
  	  <xsd:include schemaLocation="interop23.xsd" />
  	  <xsd:include schemaLocation="interop24.xsd" />
  	  <!--xsd:include schemaLocation="interop25.xsd" /-->
  	  <xsd:include schemaLocation="interop26.xsd" />
  	  <!--xsd:include schemaLocation="interop27.xsd" /-->
  	  <xsd:include schemaLocation="interop28.xsd" />
  	  <xsd:include schemaLocation="interop29.xsd" />
  	  <xsd:include schemaLocation="interop30.xsd" />
  	  <xsd:include schemaLocation="interop31.xsd" />
  	  <xsd:include schemaLocation="interop32.xsd" />
  	  <xsd:include schemaLocation="interop33.xsd" />
  	  <xsd:include schemaLocation="interop34.xsd" />
  	  <xsd:include schemaLocation="interop35.xsd" />
  	  <xsd:include schemaLocation="interop36.xsd" />
  	  <xsd:include schemaLocation="interop37.xsd" />
  	  <xsd:include schemaLocation="interop38.xsd" />
  	  <!--xsd:include schemaLocation="interop39.xsd" /-->
  	  <xsd:include schemaLocation="interop40.xsd" />
  	  <xsd:include schemaLocation="interop41.xsd" />
  	  <xsd:include schemaLocation="interop42.xsd" />
  	  <xsd:include schemaLocation="interop43.xsd" />
  	  <xsd:include schemaLocation="interop44.xsd" />
  	  <xsd:include schemaLocation="interop45.xsd" />
  	  <xsd:include schemaLocation="interop46.xsd" />
  	  <xsd:include schemaLocation="interop47.xsd" />
  	  <xsd:include schemaLocation="interop50.xsd" />
                
      <xsd:element name="interop01">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement01"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop01Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement01"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop02">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement02"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop02Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement02"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop03">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement03"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop03Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement03"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop04">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement04"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop04Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement04"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop05">                
        <xsd:complexType>
          <xsd:sequence>
            <!--xsd:element ref="interop:RootElement05"/-->
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop05Response">
        <xsd:complexType>
          <xsd:sequence>
            <!--xsd:element ref="interop:RootElement05"/-->
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop06">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement06"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop06Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement06"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop07">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement07"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop07Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement07"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop08">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement08"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop08Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement08"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop09">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement09"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop09Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement09"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop10">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement10"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop10Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement10"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop11">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement11"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop11Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement11"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop12">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement12"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop12Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement12"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop14">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement14"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop14Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement14"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop15">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement15"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop15Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement15"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop16">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement16"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop16Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement16"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop17">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement17"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop17Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement17"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop18">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement18"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop18Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement18"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop19">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement19"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop19Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement19"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop20">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement20"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop20Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement20"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop21">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement21"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop21Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement21"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop22">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement22"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop22Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement22"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop23">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement23"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop23Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement23"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop24">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement24"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop24Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement24"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop25">                
        <xsd:complexType>
          <xsd:sequence>
            <!--xsd:element ref="interop:RootElement25"/-->
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop25Response">
        <xsd:complexType>
          <xsd:sequence>
            <!--xsd:element ref="interop:RootElement25"/-->
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop26">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement26"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop26Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement26"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop27">                
        <xsd:complexType>
          <xsd:sequence>
            <!--xsd:element ref="interop:RootElement27"/-->
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop27Response">
        <xsd:complexType>
          <xsd:sequence>
            <!--xsd:element ref="interop:RootElement27"/-->
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop28">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement28"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop28Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement28"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop29">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement29"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop29Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement29"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop30">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement30"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop30Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement30"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop31">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement31"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop31Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement31"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop32">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement32"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop32Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement32"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop33">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement33"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop33Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement33"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop34">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement34"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop34Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement34"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop35">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement35"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop35Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement35"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop36">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement36"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop36Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement36"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop37">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement37"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop37Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement37"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop38">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement38"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop38Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement38"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop39">                
        <xsd:complexType>
          <xsd:sequence>
            <!--xsd:element ref="interop:RootElement39"/-->
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop39Response">
        <xsd:complexType>
          <xsd:sequence>
            <!--xsd:element ref="interop:RootElement39"/-->
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop40">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement40"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop40Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement40"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop41">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement41"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop41Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement41"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop42">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement42"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop42Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement42"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop43">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement43"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop43Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement43"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop44">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement44"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop44Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement44"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop45">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement45"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop45Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement45"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop46">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement46"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop46Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement46"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop47">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement47"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop47Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement47"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
                
      <xsd:element name="interop50">                
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement50"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interop50Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="interop:RootElement50"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
 
    </xsd:schema>
  </wsdl:types>
   
  <wsdl:message name="interop01Request">
    <wsdl:part element="interop:interop01" name="interop01"/>
  </wsdl:message>
  <wsdl:message name="interop01Response">
    <wsdl:part element="interop:interop01Response" name="interop011Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop02Request">
    <wsdl:part element="interop:interop02" name="interop02"/>
  </wsdl:message>
  <wsdl:message name="interop02Response">
    <wsdl:part element="interop:interop02Response" name="interop021Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop03Request">
    <wsdl:part element="interop:interop03" name="interop03"/>
  </wsdl:message>
  <wsdl:message name="interop03Response">
    <wsdl:part element="interop:interop03Response" name="interop031Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop04Request">
    <wsdl:part element="interop:interop04" name="interop04"/>
  </wsdl:message>
  <wsdl:message name="interop04Response">
    <wsdl:part element="interop:interop04Response" name="interop041Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop05Request">
    <wsdl:part element="interop:interop05" name="interop05"/>
  </wsdl:message>
  <wsdl:message name="interop05Response">
    <wsdl:part element="interop:interop05Response" name="interop051Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop06Request">
    <wsdl:part element="interop:interop06" name="interop06"/>
  </wsdl:message>
  <wsdl:message name="interop06Response">
    <wsdl:part element="interop:interop06Response" name="interop061Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop07Request">
    <wsdl:part element="interop:interop07" name="interop07"/>
  </wsdl:message>
  <wsdl:message name="interop07Response">
    <wsdl:part element="interop:interop07Response" name="interop071Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop08Request">
    <wsdl:part element="interop:interop08" name="interop08"/>
  </wsdl:message>
  <wsdl:message name="interop08Response">
    <wsdl:part element="interop:interop08Response" name="interop081Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop09Request">
    <wsdl:part element="interop:interop09" name="interop09"/>
  </wsdl:message>
  <wsdl:message name="interop09Response">
    <wsdl:part element="interop:interop09Response" name="interop091Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop10Request">
    <wsdl:part element="interop:interop10" name="interop10"/>
  </wsdl:message>
  <wsdl:message name="interop10Response">
    <wsdl:part element="interop:interop10Response" name="interop101Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop11Request">
    <wsdl:part element="interop:interop11" name="interop11"/>
  </wsdl:message>
  <wsdl:message name="interop11Response">
    <wsdl:part element="interop:interop11Response" name="interop111Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop12Request">
    <wsdl:part element="interop:interop12" name="interop12"/>
  </wsdl:message>
  <wsdl:message name="interop12Response">
    <wsdl:part element="interop:interop12Response" name="interop121Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop14Request">
    <wsdl:part element="interop:interop14" name="interop14"/>
  </wsdl:message>
  <wsdl:message name="interop14Response">
    <wsdl:part element="interop:interop14Response" name="interop141Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop15Request">
    <wsdl:part element="interop:interop15" name="interop15"/>
  </wsdl:message>
  <wsdl:message name="interop15Response">
    <wsdl:part element="interop:interop15Response" name="interop151Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop16Request">
    <wsdl:part element="interop:interop16" name="interop16"/>
  </wsdl:message>
  <wsdl:message name="interop16Response">
    <wsdl:part element="interop:interop16Response" name="interop161Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop17Request">
    <wsdl:part element="interop:interop17" name="interop17"/>
  </wsdl:message>
  <wsdl:message name="interop17Response">
    <wsdl:part element="interop:interop17Response" name="interop171Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop18Request">
    <wsdl:part element="interop:interop18" name="interop18"/>
  </wsdl:message>
  <wsdl:message name="interop18Response">
    <wsdl:part element="interop:interop18Response" name="interop181Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop19Request">
    <wsdl:part element="interop:interop19" name="interop19"/>
  </wsdl:message>
  <wsdl:message name="interop19Response">
    <wsdl:part element="interop:interop19Response" name="interop191Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop20Request">
    <wsdl:part element="interop:interop20" name="interop20"/>
  </wsdl:message>
  <wsdl:message name="interop20Response">
    <wsdl:part element="interop:interop20Response" name="interop201Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop21Request">
    <wsdl:part element="interop:interop21" name="interop21"/>
  </wsdl:message>
  <wsdl:message name="interop21Response">
    <wsdl:part element="interop:interop21Response" name="interop211Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop22Request">
    <wsdl:part element="interop:interop22" name="interop22"/>
  </wsdl:message>
  <wsdl:message name="interop22Response">
    <wsdl:part element="interop:interop22Response" name="interop221Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop23Request">
    <wsdl:part element="interop:interop23" name="interop23"/>
  </wsdl:message>
  <wsdl:message name="interop23Response">
    <wsdl:part element="interop:interop23Response" name="interop231Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop24Request">
    <wsdl:part element="interop:interop24" name="interop24"/>
  </wsdl:message>
  <wsdl:message name="interop24Response">
    <wsdl:part element="interop:interop24Response" name="interop241Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop25Request">
    <wsdl:part element="interop:interop25" name="interop25"/>
  </wsdl:message>
  <wsdl:message name="interop25Response">
    <wsdl:part element="interop:interop25Response" name="interop251Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop26Request">
    <wsdl:part element="interop:interop26" name="interop26"/>
  </wsdl:message>
  <wsdl:message name="interop26Response">
    <wsdl:part element="interop:interop26Response" name="interop261Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop27Request">
    <wsdl:part element="interop:interop27" name="interop27"/>
  </wsdl:message>
  <wsdl:message name="interop27Response">
    <wsdl:part element="interop:interop27Response" name="interop271Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop28Request">
    <wsdl:part element="interop:interop28" name="interop28"/>
  </wsdl:message>
  <wsdl:message name="interop28Response">
    <wsdl:part element="interop:interop28Response" name="interop281Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop29Request">
    <wsdl:part element="interop:interop29" name="interop29"/>
  </wsdl:message>
  <wsdl:message name="interop29Response">
    <wsdl:part element="interop:interop29Response" name="interop291Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop30Request">
    <wsdl:part element="interop:interop30" name="interop30"/>
  </wsdl:message>
  <wsdl:message name="interop30Response">
    <wsdl:part element="interop:interop30Response" name="interop301Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop31Request">
    <wsdl:part element="interop:interop31" name="interop31"/>
  </wsdl:message>
  <wsdl:message name="interop31Response">
    <wsdl:part element="interop:interop31Response" name="interop311Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop32Request">
    <wsdl:part element="interop:interop32" name="interop32"/>
  </wsdl:message>
  <wsdl:message name="interop32Response">
    <wsdl:part element="interop:interop32Response" name="interop321Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop33Request">
    <wsdl:part element="interop:interop33" name="interop33"/>
  </wsdl:message>
  <wsdl:message name="interop33Response">
    <wsdl:part element="interop:interop33Response" name="interop331Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop34Request">
    <wsdl:part element="interop:interop34" name="interop34"/>
  </wsdl:message>
  <wsdl:message name="interop34Response">
    <wsdl:part element="interop:interop34Response" name="interop341Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop35Request">
    <wsdl:part element="interop:interop35" name="interop35"/>
  </wsdl:message>
  <wsdl:message name="interop35Response">
    <wsdl:part element="interop:interop35Response" name="interop351Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop36Request">
    <wsdl:part element="interop:interop36" name="interop36"/>
  </wsdl:message>
  <wsdl:message name="interop36Response">
    <wsdl:part element="interop:interop36Response" name="interop361Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop37Request">
    <wsdl:part element="interop:interop37" name="interop37"/>
  </wsdl:message>
  <wsdl:message name="interop37Response">
    <wsdl:part element="interop:interop37Response" name="interop371Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop38Request">
    <wsdl:part element="interop:interop38" name="interop38"/>
  </wsdl:message>
  <wsdl:message name="interop38Response">
    <wsdl:part element="interop:interop38Response" name="interop381Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop39Request">
    <wsdl:part element="interop:interop39" name="interop39"/>
  </wsdl:message>
  <wsdl:message name="interop39Response">
    <wsdl:part element="interop:interop39Response" name="interop391Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop40Request">
    <wsdl:part element="interop:interop40" name="interop40"/>
  </wsdl:message>
  <wsdl:message name="interop40Response">
    <wsdl:part element="interop:interop40Response" name="interop401Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop41Request">
    <wsdl:part element="interop:interop41" name="interop41"/>
  </wsdl:message>
  <wsdl:message name="interop41Response">
    <wsdl:part element="interop:interop41Response" name="interop411Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop42Request">
    <wsdl:part element="interop:interop42" name="interop42"/>
  </wsdl:message>
  <wsdl:message name="interop42Response">
    <wsdl:part element="interop:interop42Response" name="interop421Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop43Request">
    <wsdl:part element="interop:interop43" name="interop43"/>
  </wsdl:message>
  <wsdl:message name="interop43Response">
    <wsdl:part element="interop:interop43Response" name="interop431Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop44Request">
    <wsdl:part element="interop:interop44" name="interop44"/>
  </wsdl:message>
  <wsdl:message name="interop44Response">
    <wsdl:part element="interop:interop44Response" name="interop441Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop45Request">
    <wsdl:part element="interop:interop45" name="interop45"/>
  </wsdl:message>
  <wsdl:message name="interop45Response">
    <wsdl:part element="interop:interop45Response" name="interop451Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop46Request">
    <wsdl:part element="interop:interop46" name="interop46"/>
  </wsdl:message>
  <wsdl:message name="interop46Response">
    <wsdl:part element="interop:interop46Response" name="interop461Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop47Request">
    <wsdl:part element="interop:interop47" name="interop47"/>
  </wsdl:message>
  <wsdl:message name="interop47Response">
    <wsdl:part element="interop:interop47Response" name="interop471Response"/>
  </wsdl:message>
   
  <wsdl:message name="interop50Request">
    <wsdl:part element="interop:interop50" name="interop50"/>
  </wsdl:message>
  <wsdl:message name="interop50Response">
    <wsdl:part element="interop:interop50Response" name="interop501Response"/>
  </wsdl:message>
   
  <wsdl:portType name="interop">
   
    <wsdl:operation name="interop01">
      <wsdl:input message="interop:interop01Request"/>
      <wsdl:output message="interop:interop01Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop02">
      <wsdl:input message="interop:interop02Request"/>
      <wsdl:output message="interop:interop02Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop03">
      <wsdl:input message="interop:interop03Request"/>
      <wsdl:output message="interop:interop03Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop04">
      <wsdl:input message="interop:interop04Request"/>
      <wsdl:output message="interop:interop04Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop05">
      <wsdl:input message="interop:interop05Request"/>
      <wsdl:output message="interop:interop05Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop06">
      <wsdl:input message="interop:interop06Request"/>
      <wsdl:output message="interop:interop06Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop07">
      <wsdl:input message="interop:interop07Request"/>
      <wsdl:output message="interop:interop07Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop08">
      <wsdl:input message="interop:interop08Request"/>
      <wsdl:output message="interop:interop08Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop09">
      <wsdl:input message="interop:interop09Request"/>
      <wsdl:output message="interop:interop09Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop10">
      <wsdl:input message="interop:interop10Request"/>
      <wsdl:output message="interop:interop10Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop11">
      <wsdl:input message="interop:interop11Request"/>
      <wsdl:output message="interop:interop11Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop12">
      <wsdl:input message="interop:interop12Request"/>
      <wsdl:output message="interop:interop12Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop14">
      <wsdl:input message="interop:interop14Request"/>
      <wsdl:output message="interop:interop14Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop15">
      <wsdl:input message="interop:interop15Request"/>
      <wsdl:output message="interop:interop15Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop16">
      <wsdl:input message="interop:interop16Request"/>
      <wsdl:output message="interop:interop16Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop17">
      <wsdl:input message="interop:interop17Request"/>
      <wsdl:output message="interop:interop17Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop18">
      <wsdl:input message="interop:interop18Request"/>
      <wsdl:output message="interop:interop18Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop19">
      <wsdl:input message="interop:interop19Request"/>
      <wsdl:output message="interop:interop19Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop20">
      <wsdl:input message="interop:interop20Request"/>
      <wsdl:output message="interop:interop20Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop21">
      <wsdl:input message="interop:interop21Request"/>
      <wsdl:output message="interop:interop21Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop22">
      <wsdl:input message="interop:interop22Request"/>
      <wsdl:output message="interop:interop22Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop23">
      <wsdl:input message="interop:interop23Request"/>
      <wsdl:output message="interop:interop23Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop24">
      <wsdl:input message="interop:interop24Request"/>
      <wsdl:output message="interop:interop24Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop25">
      <wsdl:input message="interop:interop25Request"/>
      <wsdl:output message="interop:interop25Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop26">
      <wsdl:input message="interop:interop26Request"/>
      <wsdl:output message="interop:interop26Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop27">
      <wsdl:input message="interop:interop27Request"/>
      <wsdl:output message="interop:interop27Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop28">
      <wsdl:input message="interop:interop28Request"/>
      <wsdl:output message="interop:interop28Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop29">
      <wsdl:input message="interop:interop29Request"/>
      <wsdl:output message="interop:interop29Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop30">
      <wsdl:input message="interop:interop30Request"/>
      <wsdl:output message="interop:interop30Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop31">
      <wsdl:input message="interop:interop31Request"/>
      <wsdl:output message="interop:interop31Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop32">
      <wsdl:input message="interop:interop32Request"/>
      <wsdl:output message="interop:interop32Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop33">
      <wsdl:input message="interop:interop33Request"/>
      <wsdl:output message="interop:interop33Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop34">
      <wsdl:input message="interop:interop34Request"/>
      <wsdl:output message="interop:interop34Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop35">
      <wsdl:input message="interop:interop35Request"/>
      <wsdl:output message="interop:interop35Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop36">
      <wsdl:input message="interop:interop36Request"/>
      <wsdl:output message="interop:interop36Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop37">
      <wsdl:input message="interop:interop37Request"/>
      <wsdl:output message="interop:interop37Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop38">
      <wsdl:input message="interop:interop38Request"/>
      <wsdl:output message="interop:interop38Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop39">
      <wsdl:input message="interop:interop39Request"/>
      <wsdl:output message="interop:interop39Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop40">
      <wsdl:input message="interop:interop40Request"/>
      <wsdl:output message="interop:interop40Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop41">
      <wsdl:input message="interop:interop41Request"/>
      <wsdl:output message="interop:interop41Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop42">
      <wsdl:input message="interop:interop42Request"/>
      <wsdl:output message="interop:interop42Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop43">
      <wsdl:input message="interop:interop43Request"/>
      <wsdl:output message="interop:interop43Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop44">
      <wsdl:input message="interop:interop44Request"/>
      <wsdl:output message="interop:interop44Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop45">
      <wsdl:input message="interop:interop45Request"/>
      <wsdl:output message="interop:interop45Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop46">
      <wsdl:input message="interop:interop46Request"/>
      <wsdl:output message="interop:interop46Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop47">
      <wsdl:input message="interop:interop47Request"/>
      <wsdl:output message="interop:interop47Response"/>
    </wsdl:operation>
   
    <wsdl:operation name="interop50">
      <wsdl:input message="interop:interop50Request"/>
      <wsdl:output message="interop:interop50Response"/>
    </wsdl:operation>
    
  </wsdl:portType>
  
  <wsdl:binding name="interopSOAP" type="interop:interop">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
     
    <wsdl:operation name="interop01">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop01"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop02">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop02"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop03">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop03"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop04">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop04"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop05">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop05"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop06">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop06"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop07">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop07"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop08">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop08"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop09">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop09"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop10">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop10"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop11">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop11"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop12">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop12"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop14">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop14"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop15">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop15"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop16">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop16"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop17">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop17"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop18">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop18"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop19">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop19"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop20">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop20"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop21">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop21"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop22">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop22"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop23">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop23"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop24">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop24"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop25">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop25"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop26">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop26"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop27">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop27"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop28">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop28"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop29">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop29"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop30">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop30"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop31">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop31"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop32">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop32"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop33">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop33"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop34">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop34"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop35">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop35"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop36">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop36"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop37">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop37"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop38">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop38"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop39">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop39"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop40">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop40"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop41">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop41"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop42">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop42"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop43">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop43"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop44">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop44"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop45">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop45"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop46">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop46"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop47">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop47"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
    <wsdl:operation name="interop50">
      <soap:operation soapAction="http://www.apache.org/tuscany/interop/interop50"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     
  </wsdl:binding>
  <wsdl:service name="interop">
    <wsdl:port binding="interop:interopSOAP" name="interopSOAP">
      <soap:address location="http://localhost:8080/services/interop"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
