cpp/sdo/runtime/core/test/t2/include3.xsd

    <xsd:schema  
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 	xmlns:sdo="commonj.sdo"
 	xmlns:sdoxml="commonj.sdo/xml"
	xmlns:company="companyNS"
	targetNamespace="companyNS">

      <xsd:complexType name="EmployeeType">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="SN" type="xsd:ID"/>
        <xsd:attribute name="manager" type="xsd:boolean"/>
      </xsd:complexType>
    </xsd:schema>

